{% extends 'base.html' %}
{% block title %}Create Bracket{% endblock title %}
{% block head %}
<!-- any excess styling goes here -->
{{super()}}
<link href="{{ url_for('static', filename='bracket.css') }}" rel="stylesheet">
<!-- <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/isEqual.min.js"></script> -->
<script src="{{url_for('static', filename='bracket.js')}}"></script>
<style>
    /* .draggable-dropzone--occupied { background: lightgreen; } */
</style>
{% endblock head %}
{% block main %}
<!-- <div class="teams">
    <div class="containers">
        {% for team in teams %}
        <div class="dropzone draggable-dropzone--occupied">
            <div class="item">{{team}}</div>
        </div>
        {% endfor %}
    </div>
</div> -->
{% if current_user.bracket %}
<h1>You have already made a bracket! View it <a href="{{url_for('get_view_bracket')}}">here!</a></h1>
{% else %}
<h1>World Cup Bracket</h1>
<main id="tournament" class="containers">
    <!-- <div class="containers"> -->
    <ul class="round round-1">
        <li class="spacer">&nbsp;</li>

        {% for match in matches %}
        {% set round = 1 %}
        {% set team = 'home_team' if loop.index%2 == 1 else 'away_team' %}
        <li id="round{{round}}_{{loop.index}}_home_team-li" class="game game-top ">
            <input data_match_id="{{match.id}}" class="game_input" type="radio" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_home_team" value="{{home_team}}" data_round="1"
                next="round{{round + 1}}_{{((loop.index-1)/2 + 1)|round(0, 'floor')|int}}_{{team}}">
            <label for="round{{round}}_{{loop.index}}_home_team"
                id="round{{round}}_{{loop.index}}_home_team-label">{{match.home_team.name}}</label>
        </li>
        <li id="round{{round}}_{{loop.index}}_away_team-li" class="game game-bottom ">
            <input data_match_id="{{match.id}}" class="game_input" type="radio" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_away_team" value="{{away_team}}" data_round="1"
                next="round{{round + 1}}_{{((loop.index-1)/2 + 1)|round(0, 'floor')|int}}_{{team}}">
            <label for="round{{round}}_{{loop.index}}_away_team"
                id="round{{round}}_{{loop.index}}_away_team-label">{{match.away_team.name}}</label>

        </li>
        <li class="spacer">&nbsp;</li>
        {% endfor %}
    </ul>
    <ul class="round round-2">
        <li class="spacer">&nbsp;</li>

        {% for i in range(1,5) %}
        {% set round = 2 %}
        {% set team = 'home_team' if i%2 == 1 else 'away_team' %}

        <li id="round{{round}}_{{i}}_home_team-li" class="game game-top ">

            <input data_match_id="{{i}}" class="game_input" type="hidden" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_home_team" value="{{home_team}}" data_round="{{round}}"
                next="round{{round + 1}}_{{((loop.index-1)/2 + 1)|round(0, 'floor')|int}}_{{team}}">
            <label for="round{{round}}_{{loop.index}}_home_team" id="round{{round}}_{{loop.index}}_home_team-label"
                hidden></label>
            <!-- {{loop.index}} -->
        </li>
        <li id="round{{round}}_{{loop.index}}_away_team-li" class="game game-bottom ">
            <input data_match_id="{{i}}" class="game_input" type="hidden" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_away_team" value="{{away_team}}" data_round="{{round}}"
                next="round{{round + 1}}_{{((loop.index-1)/2 + 1)|round(0, 'floor')|int}}_{{team}}">
            <label for="round{{round}}_{{loop.index}}_away_team" id="round{{round}}_{{loop.index}}_away_team-label"
                hidden></label>

        </li>
        <li class="spacer">&nbsp;</li>
        {% endfor %}

    </ul>
    <ul class="round round-3">
        <li class="spacer">&nbsp;</li>

        {% for i in range(1,3) %}
        {% set round = 3 %}
        {% set team = 'home_team' if i%2 == 1 else 'away_team' %}

        <li id="round{{round}}_{{i}}_home_team-li" class="game game-top ">
            <input data_match_id="{{i}}" class="game_input" type="hidden" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_home_team" value="{{home_team}}" data_round="{{round}}"
                next="round{{round + 1}}_{{((loop.index-1)/2 + 1)|round(0, 'floor')|int}}_{{team}}">
            <label for="round{{round}}_{{loop.index}}_home_team" id="round{{round}}_{{loop.index}}_home_team-label"
                hidden></label>
        </li>
        <li id="round{{round}}_{{loop.index}}_away_team-li" class="game game-bottom ">
            <input data_match_id="{{i}}" class="game_input" type="hidden" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_away_team" value="{{away_team}}" data_round="{{round}}"
                next="round{{round + 1}}_{{((loop.index-1)/2 + 1)|round(0, 'floor')|int}}_{{team}}">
            <label for="round{{round}}_{{loop.index}}_away_team" id="round{{round}}_{{loop.index}}_away_team-label"
                hidden></label>

        </li>
        <li class="spacer">&nbsp;</li>
        <!-- <li class="spacer">&nbsp;</li> -->
        {% endfor %}
    </ul>
    <!-- <li class="spacer">&nbsp;</li> -->
    <ul class="round round-4">

        {% for i in range(1,2) %}
        {% set round = 4 %}
        {% set team = 'home_team' if i%2 == 1 else 'away_team' %}

        <li id="round{{round}}_{{i}}_home_team-li" class="game game-top ">

            <input data_match_id="{{i}}" class="game_input" type="hidden" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_home_team" value="{{home_team}}" data_round="{{round}}"
                next="round5_0_home_team">
            <label for="round{{round}}_{{loop.index}}_home_team" id="round{{round}}_{{loop.index}}_home_team-label"
                hidden></label>
            <!-- {{loop.index}} -->
        </li>
        <li id="round{{round}}_{{loop.index}}_away_team-li" class="game game-bottom ">
            <input data_match_id="{{i}}" class="game_input" type="hidden" name="round{{round}}_{{loop.index}}"
                id="round{{round}}_{{loop.index}}_away_team" value="{{away_team}}" data_round="{{round}}"
                next="round5_0_home_team">
            <label for="round{{round}}_{{loop.index}}_away_team" id="round{{round}}_{{loop.index}}_away_team-label"
                hidden></label>

        </li>
        <!-- <li class="spacer">&nbsp;</li> -->
        <!-- <li class="spacer">&nbsp;</li> -->
        {% endfor %}
    </ul>
    <ul class="round round-5">
        <li class="spacer">&nbsp;</li>
        <li id="round5_1_home_team-li" class="game game-top">

            <input data_match_id="1" class="game_input" type="hidden" name="round5_0"
                id="round5_0_home_team" value="{{home_team}}" data_round="5"
                next="">
            <label for="round5_0_home_team" id="round5_0_home_team-label"
                hidden></label>
        </li>
        <!-- <li class="game game-top "></li> -->
        <!-- <li class="game game-spacer">&nbsp;</li>  -->
        <li class="spacer">&nbsp;</li>
    </ul>
    <!-- </div> -->
</main>
<button id="save_bracket" class="btn btn-outline-primary m-2">Save</button>
{% endif %}
{% endblock main %}