<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@shopify/draggable@1.0.0-beta.11/lib/draggable.bundle.js"></script>
    <script>
    window.addEventListener("DOMContentLoaded", (event) => {
        const droppable = new Draggable.Droppable(document.querySelectorAll('.container'), {
          draggable: '.item',
          dropzone: '.dropzone'
        })
        const draggable = new Draggable.Draggable(document.querySelectorAll('ul'), {
      draggable: 'li'
    });
    })
    </script>    
</head>
<body>
    <div class="container">
        <div class="dropzone draggable-dropzone--occupied"><div class="item">A</div></div>
        <div class="dropzone draggable-dropzone--occupied"><div class="item">B</div></div>
        <div class="dropzone draggable-dropzone--occupied"><div class="item">C</div></div>
      </div>
      <div class="container">
        <div class="dropzone"></div>
      </div>
      
      <style>
        .item { height: 100%; }
        .dropzone { outline: solid 1px; height: 50px; }
        .draggable-dropzone--occupied { background: lightgreen; }
      </style>
</body>
</html>