<li class="spacer">&nbsp;</li>
          <li class="game game-top ">
            Lousville
        </li>
          <!-- <li class="game game-spacer">&nbsp;</li> -->
          <li class="game game-bottom ">NC A&T</li>

          <li class="spacer">&nbsp;</li>
        <li class="game game-top ">Colo St </li>
        <!-- <li class="game game-spacer">&nbsp;</li> -->
        <li class="game game-bottom ">Missouri </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">Oklahoma St </li>
        <!-- <li class="game game-spacer">&nbsp;</li> -->
        <li class="game game-bottom ">Oregon </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">Saint Louis </li>
        <!-- <li class="game game-spacer">&nbsp;</li> -->
        <li class="game game-bottom ">New Mexico St </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">Memphis </li>
        <!-- <li class="game game-spacer">&nbsp;</li> -->
        <li class="game game-bottom ">St Mary's </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">Mich St </li>
        <!-- <li class="game game-spacer">&nbsp;</li> -->
        <li class="game game-bottom ">Valparaiso </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">Creighton </li>
        <!-- <li class="game game-spacer">&nbsp;</li> -->
        <li class="game game-bottom ">Cincinnati </li>

        <li class="spacer">&nbsp;</li>

        <li class="game game-top ">Duke </li>
        <!-- <li class="game game-spacer">&nbsp;</li> -->
        <li class="game game-bottom ">Albany </li>

        <li class="spacer">&nbsp;</li>


                
          <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <li class="spacer">&nbsp;</li>

            <li class="game game-top ">
                <label class="btn btn-secondary active">
                <input type="radio" name="options" id="option1" autocomplete="off"> Lousville
                </label>
            </li>
            <li class="game game-bottom ">
                <label class="btn btn-secondary">
                <input type="radio" name="options" id="option2" autocomplete="off"> NC A&T
            </label></li>
    
            <li class="spacer">&nbsp;</li>
            
          </div> -->


          <li class="game game-top">
            
          </li>
          <!-- <li class="game game-spacer"></li> -->
          <li class="game game-bottom">
              <div class="dropzone"></div>
          </li>
          <li class="spacer">&nbsp;</li>
  
          <li class="game game-top">Oregon </li>
          <!-- <li class="game game-spacer">&nbsp;</li> -->
          <li class="game game-bottom ">Saint Louis </li>
  
          <li class="spacer">&nbsp;</li>
  
          <li class="game game-top ">Memphis </li>
          <!-- <li class="game game-spacer">&nbsp;</li> -->
          <li class="game game-bottom ">Mich St <span>70</span></li>
  
          <li class="spacer">&nbsp;</li>
  
          <li class="game game-top ">Creighton <span>50</span></li>
          <!-- <li class="game game-spacer">&nbsp;</li> -->
          <li class="game game-bottom ">Duke </li>
  
          <li class="spacer">&nbsp;</li>



          <div class="card mx-2 shadow rounded">
            <div class="card-body">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="d-flex flex-row justify-content-between align-items-center" align="center">
                            <div class="text-center align-middle">
                                {% if match.score_home > match.score_away %}
                                <h2 style="font-weight: bold;"><img src="/static/flags/{{match.home_team.alpha_2}}.gif"
                                        alt="Home Flag" class="rounded m-3" width="80">
                                    {{match.home_team.name}}</h2>
                                {% else %}
                                <h2><img src="/static/flags/{{match.home_team.alpha_2}}.gif" alt="Home Flag"
                                        class="rounded m-3" width="80" padding-right="20px">{{match.home_team.name}}</h2>
                                {% endif %}
                            </div>
    
                            <div class="text-center align-middle">
                                {% if match.score_home > match.score_away %}
                                <h2 style="font-weight: bold;">{{match.score_home}}</h2>
                                {% else %}
                                <h2>{{match.score_home}}</h2>
                                {% endif %}
                            </div>
    
                            <div class="text-center align-middle">
                                <h2>VS</h2>
                            </div>
    
                            <div class="text-center align-middle">
                                {% if match.score_away > match.score_home %}
                                <h2 style="font-weight: bold;">{{match.score_away}}</h2>
                                {% else %}
                                <h2>{{match.score_away}}</h2>
                                {% endif %}
                            </div>
    
                            <div class="text-center align-middle">
                                {% if match.score_away > match.score_home %}
                                <h2 style="font-weight: bold;">{{match.away_team.name}}<img
                                        src="/static/flags/{{match.away_team.alpha_2}}.gif" alt="Away Flag"
                                        class="rounded m-3" width="80">
                                </h2>
                                {% else %}
                                <h2>{{match.away_team.name}}<img src="/static/flags/{{match.away_team.alpha_2}}.gif"
                                        alt="Away Flag" class="rounded m-3" width="80">
                                </h2>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center align-middle">{{match.date.strftime("%a %b %d %I:%M %p")}}</h5>
    
                </div>
            </div>
        </div>