/*
 *  Flex Layout Specifics
*/
main{
    display:flex;
    flex-direction:row;
    padding-left: 1em;
    /* justify-content: center; */
  }
  .teams {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:150px;
    list-style:none;
    padding:0;
  }
    .round .spacer{ flex-grow:1; }
    .round .spacer:first-child,
    .round .spacer:last-child{ flex-grow:.5; }
  
    .round .game-spacer{
      flex-grow:1;
    }
  
  /*
   *  General Styles
  */
  /* body{
    font-family:sans-serif;
    font-size:small;
    padding:10px;
    line-height:1.4em;
  } */
  
  li.game{
    /* padding:10px; */
    /* height: 50; */
    border-radius: 15;
    /* margin: 20px; */
  }
  
    li.game.winner{
      font-weight:bold;
      background-color: lightgreen;
    }
    /* li.game span{
      float:right;
      margin-right:5px;
    } */
  
    li.game-top{ 
        border:1px solid #aaa; 
        border-radius: 10px;
        height: 30px;
    }
  
    li.game-spacer{ 
      border:1px solid #aaa;
      min-height:40px;
    }
  
    li.game-bottom{ 
      border:1px solid #aaa;
      border-radius: 10px;
      height: 30px;

    }